@font-face {
    font-family: 'italiannoregular';
    src: url('italianno-regular-otf-webfont.eot');
    src: url('italianno-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
        url('italianno-regular-otf-webfont.woff') format('woff'),
        url('italianno-regular-otf-webfont.ttf') format('truetype'),
        url('italianno-regular-otf-webfont.svg#italiannoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3,
.footerBrand,
.italianno {
    font-family: 'italiannoregular';
}

.carousel .carousel-caption > p:first-of-type {
    font-size: 40px;
}
h1 {
    font-size: 70px; 
    word-spacing: 30px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 49px; 
        word-spacing: 10px;
    }   
}

h2 {
    font-size: 60px;
    word-spacing: 20px;
}
@media screen and (max-width: 768px) {
    h2 {
        font-size: 40px; 
        word-spacing: normal;
    }   
}

h3 {
    font-size: 47px; 
}
@media screen and (max-width: 768px) {
    h3 {
        font-size: 35px; 
        word-spacing: normal;
    }   
}

p.italianno {
    font-size: 35px;
    line-height: 1em;
}
@media screen and (max-width: 768px) {
    p.italianno {
        font-size: 30px;
        line-height: 1em;
    }   
}

.cena {
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .cena {
        font-size: 25px; 
    }   
}
.thumbnail h3 {
    font-weight: bolder;
}




body {
    display : none;
    background-color: #100802;
    color: white;
    padding-top: 80px;
    font-size: 16px;
}
.bodyUp {
    padding-top: 0;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 110px; 
    }   
    .bodyUp {
        padding-top: 77px;
    }
}


a {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
hr{
    border: #1C120D 1px solid;
}

.btn-primaryNav, 
.btn-primaryNav:focus, .btn-primaryNav:active, .btn-primaryNav.active, 
.open .dropdown-toggle.btn-primaryNav  {
    color: #fff;
    background-color: #917F77;
    border-color: #7C7367;
}
.btn-primaryNav:hover {
    color: #917F77;
    background-color: #fff;
    border-color: #fff;
}


.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ECE2D4;
    border-color: #adadad;
}

.navbar-default .navbar-brand {
    color: #998065;
    background-color: white;
    font-size: 34px;
    width: 100%;
    text-align: center;
}

.btn, .btn-lg, .btn-sm,
.panel,
.thumbnail, .img-thumbnail,
.navbar-toggle {
    border-radius: 2px;
}

/*================================================================================================== header =============*/
.navbar-nav {
    letter-spacing: 2px;
    border-bottom: 0;
}
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar.navbar-default.navCarousel {
    background-color: rgba(31, 77, 119, 0.5);      /*umesto : background-color: #0047FF; opacity: 0.4;*/
    border-bottom: 1px solid #3470DA;
}

.navbar.navbar-default {
    color: white;
    background-color: #1F4D77;               /*umesto : background-color: #0047FF; opacity: 0.4;*/
}

@media (min-width: 768px) {
    .nav.navbar-nav {
        width: 750px;
    }

}
@media (min-width: 992px) {
    .nav.navbar-nav {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .nav.navbar-nav {
        width: 1170px;
    }
}


.navbar-nav.nav-justified > li{    /* ------------- bitno! --------------------------*/
    float:none;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        padding-bottom: 30px;
    }
}

    
    
    
    
    
    
    

.carousel {
    background-color: white;
}
.carousel-indicators li {
    border: 1px #B09A91 solid;
}
.carousel-indicators .active {
    background-color: #B09A91;
}

@media screen and (max-width: 768px) {
    .navbar.navbar-default.navCarousel {
        background-color: #1F4D77;              
        border-bottom: 0;
    }
    .navbar-default .navbar-collapse {
        max-height: 400px;
        border-top: 0;
        background-color: #1F4D77;
    }
    .navbar-collapse.in {
        border-color: #1C120D;
        background-color: #1F4D77;
    }
    .nav > li {
        margin: 0 20px;
    } 
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #faf2cc;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #1C120D;*/
    color: white;
    /*font-weight: 900;*/
    font-size: xx-large;
    background-color: inherit;
    line-height: 1em;
    /*border-radius: 2px;*/
}       

.navbar-collapse .navbar-btn.btn-group {
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-collapse .btn.cart {
    margin-left: 10px;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}


.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}
/*================================================================================================== /header =============*/
/*=================================================================================================== footer ============*/

footer {  
    border-bottom: #1C120D 20px solid;
    background-color: #1C120D;
}

footer .footerBrand {
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 23px;
    color: white;
    text-align: center; 
}
footer .footerCopyright {
    background-color: #100802;
    color:#5e5e5e;
    border-top: #241C16 1px solid;
    border-bottom: #241C16 1px solid;
    padding-right: 2%;
    padding-left: 2%;
}

/*=================================================================================================== /footer ============*/
/*=================================================================================================== home ===============*/
.carousel {
    margin-bottom: 19px;
}

.item1 {
    margin-left: 10% ;
}
.item2 {
    margin-left: 60%;
}
.item3 {
    margin-left: 50%;
}
.item4 {
    margin-left: 55%;
}
.item5 {
    margin-left: auto;
    margin-right: auto;
}
.item6 {
    margin-left: auto;
    margin-right: auto;
}
.item7 {
   margin-left: 50%;
}
.item8 {
    margin-left: auto;
    margin-right: auto;
}


.logo {
    width: 100px;
}

@media screen and (max-width: 768px) {

    .item > img {
        margin-left: auto;
        margin-right: auto;
    }
}


/*=================================================================================================== /home ===============*/
/*================================================================================================== about page ===========*/
.narrowContainer {
    width: 700px;
}
@media screen and (max-width: 768px) {
    .narrowContainer {
        width: auto;
    }
}

.indent {
    text-indent: 50px;
}
/*================================================================================================== /about page ===========*/
/*================================================================================================== wines page ===========*/

div.thumbnail div.text-right h3 {
    margin-top: 0px;
}
div.thumbnail hr {
    border: 1px solid #eee;
}
/*================================================================================================== /wines page ===========*/
/*================================================================================================== contact page ===========*/
.panel {
    color: black;
}
label {
    font-weight: normal;
}
.map {
    width: 100%;
}
/*================================================================================================== /contact page ===========*/

